/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Oct-2016, 15:31:21
    Author     : Rob Treacy <email@roberttreacy.com>
*/

body {
    background-image: url('background.jpg');
}

#images {
    list-style: none;
}

#images li {
    display: inline-block;
}

#images li:first-child {
    display: block;
}

#images li img {
    display: block;
    margin: 0 auto;
}

#images li + li img {
    width: 256px;
}

#images li + li img + img {
    display: none;
}